package ${package}.${moduleName}.DTO;

import java.io.Serializable;
import java.util.Date;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * @Auther: ${author}
 * @Date: ${datetime}
 * @Description: ${comment}
 */
@ApiModel(value="${classname}DTO对象",description="对象${classname}DTO")
public class ${className}DTO implements Serializable {
    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
        //$column.comments
        #if(${column.isNullable}=="NO")
        @ApiModelProperty(value = "$column.comments",required = true)
        #else
        @ApiModelProperty(value = "$column.comments")
        #end
    private $column.attrType $column.attrname;
    #end

    #foreach ($column in $columns)
        /**
         * 设置：${column.comments}
         */
        public void set${column.attrName}($column.attrType $column.attrname) {
            this.$column.attrname = $column.attrname;
        }
        /**
         * 获取：${column.comments}
         */
        public $column.attrType get${column.attrName}() {
            return $column.attrname;
        }
    #end
}
