<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--mybatis开启数据库字段自动映射为java驼峰命名规则-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
</configuration>